$carmel-color: #bf883b;
$carmel-dark-color: #150801;
$dark-beige: #a38f86;
$white-color: #fff;
$black-color: #000;
$gray-border-color: #979797;
$gray-light-border-color: #b2afad;
$gray-btn-color: #5f534d;
$gray-cart-bg-color: #ede9e7;
$gray-cart-border-color: #bfbfbf;
$gray-placeholder-color: #a6a6a6;
$radio-button-color: #493f39;
$account-paragraph-color: #776d68;
$error-color: #9E0000;
$success-color: #4F9A00;
$notification-color: $carmel-color;
//UIkit variables
//Responsive
$breakpoint-small: 769px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1600px;
//Gutters
$global-small-gutter: 10px;